$mainPink: #df42b1;
.price {
  &__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    
    

    &-item {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 15;
      transition: all .2s ease-in-out;
      padding: 0 5px;

      &.active {
        transform: scale(1.1);
      }

    }


    &-item-content {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #fff;
      border-radius: 20px;
      padding: 0 30px 30px 30px;
      z-index: -1;


      &-img {
        margin-top: 20px;
        margin-bottom: 30px;
      }

      h6 {
        width: max-content;
        padding: 10px 25px;
        background-color: $mainPink;
        border-radius: 0 0 7px 7px;
      }

      h2 {
        color: #111343;
        font-size: 60px;
        font-weight: 600;

        span {
          position: relative;
          font-size: 30px;
          top: -20px;
        }
      }

      ul {
        position: relative;
        left: -15px;
        margin-top: 15px;

        li {
          margin-top: 15px;

          img {
            height: 12px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}