$mainPink: #df42b1;

* {
	margin: 0;
	padding: 0;
	font-family: -apple-system, 'Poppins', sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 600;
	line-height: 50px;
	color: #fff;
}

h4 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #fff;
}

h6 {
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
}

.row {
	width: 100%;
}

.container {
	width: 1200px;
	display: flex;
}

.jc-space-between {
	justify-content: space-between;
}

.jc-center {
	display: flex;
	justify-content: center;
}

.ai-center {
	align-items: center;
}

.header-background {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: brightness(.5);
}

.welcome {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	p {
		text-transform: uppercase;
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		padding: 10px 20px;
		background-color: rgba($color: #fff, $alpha: .1);
		margin-top: 25px;
	}

	button {
		margin-top: 50px;
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		z-index: 5;
	}

	&__title {
		text-transform: uppercase;
		color: #fff;
		font-size: 90px;
		font-weight: 700;
		line-height: 120px;
	}

	.underlined {
		position: absolute;
		top: 75px;
		width: 385px;
		height: 17px;
		background: rgb(223, 66, 177);
		background: linear-gradient(130deg, rgba(223, 66, 177, 1) 5%, rgba(115, 75, 187, 1) 95%);
		z-index: -1;
	}
}

.about-area {
	background-color: #151853;
	padding: 100px 0;
}

.about {
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;

		&-left {
			width: 100%;

			h4 {
				color: $mainPink;
				margin-bottom: 30px;
			}

			p {
				font-size: 16px;
				font-weight: 400;
				line-height: 30px;
				color: #fff;
				margin-top: 30px;
			}

			button {
				margin-top: 50px;
			}
		}

		&-right {
			img {
				width: 100%;
			}
		}
	}
}

.gradient-filter {
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(223, 66, 177);
		background: linear-gradient(130deg, rgba(223, 66, 177, 1) 5%, rgba(115, 75, 187, 1) 95%);
		z-index: -1;
		opacity: .9;
	}
}

.speakings-area {
	position: relative;
	padding: 100px 0 60px 0;
	background-image: url(./assets/2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	

	.container {
		display: flex;
		flex-direction: column;
	}

	.row {
		display: flex !important;
	}
}

.speakings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	&__title {
		margin-bottom: 50px;
		text-align: center;
	}

	a {
		padding: 10px 20px;
		border: 2px solid #fff;
		border-radius: 50px;
		margin-top: 60px;
		color: #fff;
		transition: background-color, border-color .15s ease-in-out;

		&:hover {
			background-color: $mainPink;
			border-color: $mainPink;
		}
	}
}

.schedule-area {
	background-color: #151853;
	padding: 100px 0 60px 0;

	.container {
		justify-content: center;
	}
}

.price-area {
	position: relative;
	padding: 100px 0 60px 0;
	background-image: url(./assets/3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;

	.container {
		display: flex;
		justify-content: center;
	}
}

.partners-area {
	background-color: #151853;
	padding: 100px 0 100px 0;

	.container {
		justify-content: center;
	}
}

.news-area {
	position: relative;
	padding-top: 100px;
	background-image: url(./assets/3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;

	.container {
		display: flex;
		justify-content: center;
	}
}

.contact {
	background-color: #151853;
	padding: 100px 0 100px 0;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.row {
			width: 100%;
			margin-top: 50px;
		}
	}

	h4 {
		color: $mainPink;
	}

	&__info {
		&-row {
			display: flex;
			flex-direction: column;
			color: rgba($color: #fff, $alpha: .4);
			font-size: 16px;
			margin-bottom: 25px;

			span {
				color: #fff;
				font-size: 18px;
				margin-top: 5px;
			}
		}
	}
}